@media only screen and (max-width:1200px)
{
	header{
		height: 85vh
	}
	
	.hero-text-box{
			width: 90%;
		}
h1{
	font-size: 2rem;
}
.our-works img {
    width: 140px;
}
.slick-dots{
		position: relative;
		right: 3.6rem;
	}



@media only screen and (max-width:1024px)
{
	
	.main-nav{
			display: none;
			

		}
		.mobile-menu span{
			display: block;
		    margin-right: 2rem;
		}
		}
		
		html{
			font-size: 57.5%;
		}
		.client-photo{
			width:100%;
			float: none;
			text-align: center;
		}
		.client-review{
			width:100%;
			float:none;

		}
		.contact-section-form{
			width:100%;
			margin-left: 0;
		}
		.little-description{
	font-size: 1.5rem;
	width: 50%;
	
    text-align: center;
	margin-top: 3%;
	margin-left: 14%;
	line-height: 2.5rem;
	color: #d6d4dd;
	}
	
	.slick-dots{
		position: relative;
		right: 12rem;
	}
	.our-works h6 {
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    color: #000;
    margin-left: 4rem;
}
.w-dribble {
    text-align: right;
    margin-right: 13rem;

	}
	.fa.fa-quote-left {
    color: #fff;
    position: relative;
    left: 6rem;}
	.footer-section .row{
		margin: 1rem;
	}
@media only screen and (max-width:980px)
{
	.span_1_of_4{
		width: 49.2%;

	}
	.span_1_of_4:nth-child(3){
		margin-left:0;
	}

		.main-nav{
			display: none;
			

		}
		.slick-dots{
		position: relative;
		right: 3rem;
	}

	.our-works img {
    width: 120px;
}

.span_1_of_5 {
    width: 24.72%;
}
	html{
		font-size: 50.5%;
	}
	
		
}
@media only screen and (max-width:768px)
{
	.little-description{
		width: 100%;
		margin-left: 0;
	}
	h1{
		font-size: 3.5rem;
	}
	h2{
		font-size: 3rem;

	}
	
		
	h3{
		font-size: 2rem;
	}
	.client-review p{
		width: 80%;
	}
	.client-pic{
		margin-left: 0;
	}
	.little-description{
		width: 60%;
	}
	.our-team.container {
    padding: 0 0.6rem;
}
.our-team .last-p {
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 26rem;
}
	.our-team .column {
    float: left;
    width: 0%;
    margin-bottom: .6rem;
    padding: 0 10.7rem;
}
.our-team img {
    width: 50%;
    height: 65%;
}
.card {
    height: 18rem;
    width: 12rem;
    border: .09rem solid #fff;
}
}
@media only screen and (max-width:480px)
{
		.span_1_of_4{
		width:100%;
		}
		.span_1_of_2 {
		    width: 100%;
		    margin-left: 14rem;
		    margin-top: 5rem;
		}


	.little-description{
		width: 38%;
	}
		
		h1{
		font-size: 3rem;
	}
	h2{
		font-size: 2.5rem;

	}
	h3{
		font-size: 1.5rem;
	}
	.client-photo  {
    text-align: left;
   
}
.client-photo img{
	height: 15rem;
}

.client-pic{
	margin-left: 0;

	
}
.footer-section .logo-tajam {
    width: 5rem;
    margin: 0 1rem;
}
.social-icons {
    width: 120%;
}
.footer-section h2 {
    margin-bottom: .6rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 1rem;
}
}

@media only screen and (max-width:380px)
{
		.span_1_of_4{
		width:100%;
		}
		h1{
		font-size: 2.5rem;
	}
	h2{
		font-size: 2.2rem;

	}
	h3{
		font-size: 1.2rem;
	}

	
}

