

/* ** */
/* BASIC SETUP */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html{
	font-size:62.5%;
	scroll-behavior: smooth;
}
body{
		font-family: 'Hammersmith One', sans-serif;
     	font-family: 'Playfair Display', serif;
		font-family: 'Roboto', sans-serif;

		text-rendering: optimizeLegibility;
		line-height: 1.3;
		font-size: 1.6rem;
}
ul li{
	list-style-type: none;
	
}
/* ###### HEADING ####### */

h1{
	font-size: 2.5rem;
	color: #ffffff;
	text-align: center;
	text-transform: capitalize;
}
h1::after{
	content: "";
	display: block;
	height: .1rem;
	background: #00e0d0;
	width: 5.4rem ;
	margin: auto;
	margin-top: 2.8rem;
	} 
h1.agency {
    padding-top: 16rem;
}
h3{
	font-size: 2.4rem;
	text-transform: uppercase;
	font-weight: 900;
	color: #999;

}
h4{
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 900;
	color: #fff;

}
/* ###### slick slider ####### */


#wrapper{
    width: 1140px;
    margin: 0 auto;

}

.slick-dots {
    position: absolute;
    bottom: -145px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
/* ###### REUSABLE COMPONENTS ####### */

.row{
	max-width: 114rem;
	margin: 0 auto;
}
section{
	padding: 8rem 0;
}
.box{
	padding: 1%;

}
.box p{
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: 2rem;
	color: #999;
}

/* ###### BUTTON ####### */
.btn:link,
.btn:visited,
.btn{
	
	color: #00e0d0;
	text-decoration: none;
	text-transform:uppercase;
	padding: 1rem 2rem;
	display: inline-block;
	margin-top: 4rem;
	font-size:1rem;
	text-align: center;
	}
a.btn.btn-hero {
    
    border: .6px solid #00e0d0;
}


/* ###### PARAGRAPH ####### */

.little-description{
	font-size: 1.5rem;
	width: 50%;
	
    text-align: center;
	margin-top: 2%;
	margin-left: 26%;
	line-height: 2.5rem;
	color: #d6d4dd;
	}

	/* ###### HEADER SECTION ####### */

header{
	background:linear-gradient(rgba(62,47,100,.7),rgba(62,47,100,.7)), url(img/tmb.jpg);
 
	
	height: 90vh;
}
.logo{
	height:5rem;
	width: auto;
	margin-top: 2rem;
	float: left;
	}
img.logo {
    padding-left: 6.2rem;
}
.hero-text-box 
{
	position: absolute;
	top:45%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 114rem;

}
/* ###### MAIN NAVIGATION ####### */
.main-nav{
	float: left;
	margin-top: 4rem;
	padding-left: 30rem;
	
	}
.main-nav li{
	display: inline-block;

	
}
.main-nav li a {
	color: #fff;
	margin-left:2rem;
	margin-top: 4rem;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.2rem;
	cursor: pointer;

}
.main-nav li a:hover{
	color: #00e0d0;
}
.main-nav li.active a{

	color: #00e0d0;
}

/* ##### STICKY NAVIGATION ####### */

.sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background:rgba(23,19,56,.9) ;
	padding: 1rem 0;
	box-shadow: 0,2px,5px rgba(255, 255, 255, .9);
}
.sticky .logo{
	margin-top: 0;
}
.sticky .main-nav{
	margin-top: .2;
}
/*MOBILE MENU*/
.mobile-menu span{
	color: #fff;
	float: right;
	font-size: 4rem;
	margin-top: 2rem;
	display: none;
}
.mobile-menu span:hover{
	cursor: pointer;
}
.overlay{
	position: fixed;
	height: 100%; 
	width: 0;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .9);
	z-index: 1;
	overflow-x: hidden;
	transition: .5s;
}
.overlay-content{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	

}
.overlay a{
	text-decoration: none;
	display: block;
	font-size: 3rem;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 1rem 0;
}
.overlay a:hover{
	color: green;
}
.closebtn{
	position: absolute;
	margin-top: 2rem;
    margin-left: 10rem;

}

/* ###### STORY SECTION ####### */

.story-section{
	background: #fff;
	width: 114rem;
	
	margin: 0 auto;

}
.story-section .row{
	width: 100rem;
}
.story-section h3{
	font-size: 1.5rem;
	color: #413d4b;
	margin-bottom: 1.5rem;
}
.story-section br{
	margin-bottom: 2rem;

}

	
	 .client-photo{
		width: 10rem;
		float:left;
}
	



	.client-photo img{
		height: 23rem;
		
		margin-bottom: 3rem;
		margin-top: 2rem;
	}
	.client-pic{
		height: 20rem;
		margin-left: 10rem;
	}
	.client-review{
		float: right;
		width: 55rem;


	}
	
	.client-review p{
		font-size: 1.3rem;
		
		margin-top:0;
		margin-bottom: 2rem;
	}
	.client-review .role{
		color:#ffdd99;
	}
	

/* ###### STORY REVIEW SECTION ####### */

.story-review{
	background: linear-gradient(rgba(23,19,56,.8),rgba(23,19,56,.8)),url(img/storyb.jpg);
	height: 60vh;
	
	
}
.devided {
    margin-top: 5rem;
}
#button {
  /* Text */
  font-size: 18px;
  
  /* Dimensions */
  width: 40px;
  height: 40px;
  
  /* Positioning */
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  /* The code above makes sure the video is
  both vertically and horizontally centered
  to the screen */
  
  /* Styling */
  background-color: rgba(0, 0, 0, 0.95);
  border: 0; /* remove annoying grey border */
  border-radius: 50%; /* make it a circle */
  outline: none; /* Ditch the annoyning blue outline on click */
  cursor: pointer;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.25);
  
  /* ----- Transformations ----- */
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  
  /* ----- Transitions ----- */
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
}

#button:hover {
  /* ----- Transformations ----- */
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  
  /* ----- Transitions ----- */
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
}

#button > i {
  /* Text */
  color: grey;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
  
  /* Make play sign 3d-ish */
  
  /* Positioning */
  position: relative;
  margin-top: 4px;
  margin-left: 6px;
  
  /* ----- Transitions ----- */
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}


#lightbox {
  /* ----- Positioning ----- */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  
  /* The code above makes sure that the
  lightbox covers the entire page*/
  
  /* ----- Visibility ----- */
  display: none;
  
  /* ----- Styling ----- */
  background-color: rgba(0, 0, 0, 0.95);
  

}

#video-wrapper {
  /* ----- Positioning ----- */
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  /* The code above makes sure the video is
  both vertically and horizontally centered
  to the screen */
  
  /* ----- Styling ----- */
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  
  /* The code above is used to add a little shadow to the video making blend in better */
}

#close-btn {
  /* ----- Text ----- */
  color: grey;
  font-size: 25px;
  
  /* ----- Positioning ----- */
  position: fixed;
  top: 3%;
  right: 3%;
  z-index: 2;
  
  /* The code above is used to put the button on the upper right corner of the lightbox */
  
  /* ----- Transformations ----- */
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  
   /* The code above is used to initialize the scale for the button so that it can be used in transitions */
  
  /* ----- Transitions ----- */
  -webkit-transition: transform .5s ease, color .5s ease;
  -moz-transition: transform .5s ease, color .5s ease;
  -ms-transition: transform .5s ease, color .5s ease;
  -o-transition: transform .5s ease, color .5s ease;
  transition: transform .5s ease, color .5s ease;
}

#close-btn:hover {
  /* ----- Text ----- */
  color: white;
  
  /* ----- Styling ----- */
  cursor: pointer;
  
  /* ----- Transformations ----- */
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  
    /* ----- Transitions ----- */
  -webkit-transition: transform .5s ease, color .5s ease;
  -moz-transition: transform .5s ease, color .5s ease;
  -ms-transition: transform .5s ease, color .5s ease;
  -o-transition: transform .5s ease, color .5s ease;
  transition: transform .5s ease, color .5s ease;
}



.our-story-edit {
    text-align: center;
    padding: ;
    margin-left: 4rem;
    margin-top: 1rem;
    color: #fff;
}



/* ###### EXPERTISE SECTION ####### */
.expertise-section{

	background: #fff;
}
.expertise-section h2{
	color: #000;
	font-size: 1.8rem;
	text-align: center;
	margin-bottom: 1rem;
	text-transform: uppercase;
}
.expertise-section .text-exp{
	text-align: center;
	color: #999;
	font-size: 1.2rem;

}
.expertise-section .text-exp::after{
	content: "";
	display: block;
	height: .1rem;
	background: #999;
	width: 5rem ;
	margin: auto;
	margin-top: 2rem;
	} 
.expertise-section .row{
	width: 95rem;
}
.expertise-section .services-icon{
	text-align: center;
	height: 3.5rem;
	margin: 0 10rem;
}
.expertise-section .ex{
    margin: 0 11rem;
}
.expertise-section h5{
	font-size: 1.2rem;
	text-align: center;
	margin-top: 2rem;
}
.expertise-section .text-exp1{

	font-size: 1rem;
	text-align: center;

}.span_1_of_3 {
    width: 31.26%;
}
.box {
    padding: 3%;
}

/* ###### OUR TEAM SECTION ####### */
.our-team{
	background: linear-gradient(rgba(48,43,79,0.9),rgba(48,43,79,0.9)), url(img/bg1.jpg);
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	
}
.our-team .row{
	width: 110rem;
}
.our-team h2{
	text-align: center;
	color: #fff;
}
.our-team p{
	text-align: center;
	color: #fff;
}
.our-team .p-txt::after{
	content: "";
	display: block;
	height: .1rem;
	background: #999;
	width: 4rem ;
	margin: auto;
	margin-top: 2rem;
	} 

/* ###### OUR TEAM CARD SECTION ####### */




.column {
  float: left;
  width: 20%;
  margin-bottom: 1.6rem;
  padding: 0 11.7rem;
}
.our-team .rows{
	margin-top: 3rem;
}
.card {
	height:28rem;
	width: 18rem; 

  border: .09rem solid #fff;
}

.container {
  padding: 0 1.6rem;
  text-transform: uppercase;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.our-team h3{
	text-align: center;
	color: #fff;
	font-size:1.4rem; 

}

.title {
  color: grey;
  font-size: 1rem;
}
.our-team img{
	width: 100%;
}

.our-team .last-p{
	margin-bottom: 2rem;
	text-align: center;
	margin-top: 40rem;
}
.our-team .p-text3{
	margin-top: 1rem;
	text-transform: capitalize;
	text-align: center;

}

 /* ###### OUR WORKS SECTION ####### */
 .our-works{


 }

 .our-works h6{
 	text-align: left;
 	text-transform: uppercase;
 	font-size: 2rem;
 	color: #000;
 }
 .col.span_12_of_6.dribble-img {
    margin: 2rem;
    text-align: center;
    padding: 0 9rem;
}
.col.span_12_of_6.dribble-img2 {
    margin: -2.4rem 11rem;
}
 .our-works .bttn{
 	text-align: center;
 	font-weight: 600;
 }
 .our-works.col:first-child {
    margin-left: 0;}
 .row-1{
 	margin-left: 1rem;
 }
 .our-works img {
    width: 150px;
    height: auto;
    margin-left: -1rem;
    margin-top: -1rem;
}

 /* ###### PEOPLE SAY SECTION ####### */
 .people-say{
 	background:linear-gradient(rgba(62,47,100,.9),rgba(62,47,100,.9)), url(img/tmb.jpg);
 	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	height: 70vh;

 } 
 .slick-slide img{
 	display: initial;
 }
 .fa.fa-quote-left {
    color: #fff;
}

 .people-say .row-12{

 	width: 114rem;
 }
 .people-say p{
 	margin: 2rem 30rem;
 	color: #fff;
 }
 .people-say img {
    text-align: center;
    background-size: cover;
    width: 5%;
    height: auto;
    border-radius: 75%;


}
.people-say .img-areas{
	text-align: center;
}

 /* ###### CONTACT SECTION ####### */

 .contact-section{
 	background: #fff;

 }
 .contact-section .contact-part{
 	
 	margin: 0 15rem;
 }
.contact-section .good-news{
	margin-bottom: 1.5rem;
	font-size: 2rem;
	text-transform: uppercase;
	color: #000;

}
.contact-section .input-op,
.contact-section textarea
{
	width: 100%;
	padding:.5rem;
	margin: 1rem 0;
}
.contact-section .happy-client{
	font-size: 2rem;
	margin-bottom: 1.5rem;
	text-transform: uppercase;
	color: #000;
}
.contact-section .row1{
	margin: 0 2rem;
	padding-left: 2rem;
}
.contact-section  .brand-logo1,
.contact-section  .brand-logo2,
.contact-section  .brand-logo3,
.contact-section  .brand-logo4,
.contact-section  .brand-logo5{
	
	margin-bottom: 3rem;
}

.contact-section  .brand-logo6,
.contact-section  .brand-logo7,
.contact-section  .brand-logo8,
.contact-section  .brand-logo9,
.contact-section  .brand-logo10{
	margin: 0 8rem;
	margin-bottom: 3rem;
}

 /* ###### FOOTER SECTION ####### */

 .footer-section{
 	background:linear-gradient(rgba(44,37,78,.9),rgba(44,37,78,.9)), url(img/footer.jpg);
 	color: #fff;
 	padding: 6rem 0;
 	border-top:.1rem solid rgba(255, 255, 255, .3);
 }
 .footer-section h2{
 	margin-bottom: .6rem;
 	font-size: 1.8rem;
 	text-transform: uppercase;

 }
 .footer-section br{
 	margin-bottom:.7rem;

 }
 .footer-section p{
 	font-size: 1.2rem;
 	margin-left: 1rem;

 }
 .footer-section q{
 	font-size: 1.2rem;
 	margin-bottom:  5rem;
 }
 
 .footer-section .logo-tajam{
 	width: 7rem;
 	margin: 0 10rem;

 }
.footer-section .foot-er{
	text-align: center;
}
.footer-section ul li{
	margin-top:3rem;
	display: inline-block;
	padding: 0 1.5rem;
	font-size: 1.2rem;
}
.footer-section .copy-right {
	text-transform: capitalize;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	font-size: 1.2rem;
	margin: 0 5rem;

	padding-left: 35rem;
}
.footer-section ul li a{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;

}
.footer-section a.btn.btn-hero{
	border: .6px solid #fff;
	color: #fff;
}

.footer-section .social-icons{
	color: #fff;
	margin-top: 3rem;
	margin-left: 1rem;

}
.fa.fa-send{
	color: #fff;
	background: grey;
	padding: 1.2rem 2rem;
	display: inline-block;
	margin-top: 4.5rem;
    margin-left:.5rem;
}
.fa.fa-phone{
	letter-spacing: 1rem;
	transform: rotate(270deg);
}

.social-icons a.fa.fa-facebook{

    display: inline-block;
    border-radius: 5rem;
    box-shadow: 0px 0px 2px #fff;
    padding: 0.6em 0.6em;
    color: #fff;
}
a.fb {
    color: #fff;
    /* margin-left: 1rem; */
    display: inline-block;
    border-radius: 5rem;
    box-shadow: 0px 0px 2px #fff;
    padding: 0.5em 0.8em;
}
.fa.fa-twitter
{
    color: #fff;
  
   
    margin-left: 1rem;
    display: inline-block;
    border-radius: 5rem;
    box-shadow: 0px 0px 2px #fff;
    padding: 0.6em 0.6em;
}
.fa.fa-instagram
{
    color: #fff;
  
    margin-left: 1rem;
    display: inline-block;
    border-radius: 5rem;
    box-shadow: 0px 0px 2px #fff;
    padding: 0.6em 0.6em;
}
.fa.fa-youtube
{
    color: #fff;
   
    margin-left: 1rem;
    display: inline-block;
    border-radius: 5rem;
    box-shadow: 0px 0px 2px #fff;
    padding: 0.6em 0.6em;
}